.place__title{
  grid-column: 1/2;
  font-size: 4.5rem;
  line-height: 106%;
  font-weight: 900;
  margin: 0;
  align-self: end;
}
 
@media screen and (max-width: 768px){
 .place__title{
  font-size: 2rem;
  line-height: 109%;
  margin-left: 1rem;
 }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .place__title{
    font-size: 2.625rem;
    line-height: 110%;
  }
}
 