@media screen and (max-width: 768px){
  .photo-grid{
    padding-top: 4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .photo-grid{
    padding-top: 5.5rem;
  }
}


@media screen and (min-width: 1024px){
  .photo-grid{
    padding-top: 5.75rem;
  }
}
