.place__image{
  width: 460px;
  height: 460px;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 2/4;
}

@media screen and (max-width: 768px){
  .place__image{
    max-width: 320px;
    max-height: 320px;
    grid-row: 3/4;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .place__image{
   max-width: 340px;
   max-height: 340px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .place__image{
   max-width: 440px;
   max-height: 440px;
  }
 }