.photo-grid__container{
  margin: 0 auto;
  display: grid;
  align-items: stretch;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fit, 225px);
}

@media screen and  (min-width: 1280px){
  .photo-grid__container{
    width: 1284px;
    grid-template-columns: repeat(auto-fit, 284px);
    grid-template-rows: repeat(auto-fit, 213px);
    column-gap: 16px;
    row-gap: 16px;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1280px){
  .photo-grid__container{
      min-width: 928px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px){
    .photo-grid__container{
        width: 720px;
        grid-template-columns: repeat(auto-fit, 352px);
        grid-template-rows: repeat(auto-fit, 264px);
      }
    }
  

