.cover__subtitle{
  grid-column: 1/2;
  grid-row: 3/4;
  z-index: 2;
  width: 360px;
  margin: 0;
  text-align: center;
  align-self: start;
  font-style: normal;
  font-size: 18px;
  line-height: 122%;
}

@media screen and (max-width: 768px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 114%;
    max-width: 288px;

  }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover__subtitle{
    font-size: 18px;
    line-height: 122%;
    max-width: 360px;

      }
 }