.footer__container{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__container{
    flex-direction: column;
    height: 310px;
    width: 186px;
    margin-left: 1rem;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .footer__container{
    flex-direction: row;
    align-items: center;
    height: 18px;
    width: 90%;
    margin: 0 auto;
  }
  
}
