
.lead__title{
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 56px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
  text-align: center;
}

@media screen  and (max-width: 768px){
  .lead__title{
    font-size: 40px;
    line-height: 44px;
    margin: 0;
    margin-top: 48px;
  }
}
