.footer__links{
  list-style: none;
  display: flex;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer__links{
    flex-direction: column;
    width: 186px;
    margin: 0;
    gap: 32px;
  }
}

@media screen and (min-width: 768px){
  .footer__links{
    flex-direction: row;
    gap: 18px;
  }
}