@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter/static/Inter-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter" ;
  src: url(../../fonts/Inter/static/Inter-ExtraBold.ttf);
  font-style: normal;
  font-weight: 900;
}