.lead__subtitle{
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}


@media screen  and (max-width: 768px){
  .lead__subtitle{
  font-size: 1rem;
  line-height: 1.25em;
  margin-top: 1rem;
  max-width: 288px;
}
}

@media screen and (min-width: 768px){
  .lead__subtitle{
    font-size: 30px;
    line-height: 1.2;
    margin-top: 2rem;
    max-width: 640px;
  }
}

