.cover{
  padding-top: 5.75rem;
}

 @media screen and (max-width: 768px){
   .cover{
     padding-top: 4rem;
   }
 }

 @media screen and (min-width: 1024px) and (max-width: 1280px) {
  .cover{
    height: 640px;
  }
 }

 @media screen and (min-width: 1280px) {
  .cover{
    height: 740px;
  }
 }