.cover__background {
  display: grid;
  margin: 0 auto;
  min-height: max-content;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: max-content;
  justify-items: center;
  text-decoration: none;
  color: white;
  z-index: 2;
}

.cover__background:hover .cover__overlay {
  opacity: 0.8;
}


@media screen and (max-width: 768px) {
  .cover__background {
    grid-template-columns: 320px;
    grid-template-rows: 17px minmax(70px, auto) minmax(48px, auto) 17px;
    row-gap: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover__background {
    grid-template-columns: 768px;
    grid-template-rows: 83px minmax(152px, auto) minmax(62px, auto) 83px;
    row-gap: 2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .cover__background {
    grid-template-columns: 1024px;
    grid-template-rows: 163px minmax(152px, auto) minmax(66px, auto) 163px;
    row-gap: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    grid-template-columns: 1184px;
    grid-template-rows: 213px minmax(152px, auto) minmax(66px, auto) 213px;
    row-gap: 2rem;
  }
}