.cover__title{
  margin: 0;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: bottom;
  z-index: 2;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  text-align: center;
  width: 560px;
}


@media screen and (max-width: 768px) {
  .cover__title{
    font-size: 2rem;
    line-height: 109%;
    max-width: 288px;
    margin: 0;
    align-self: end;
  }
  
}


