.place__url-heading{
  color: #aaa;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

 
 @media screen and (max-width: 768px){
  .place__url-heading{
    margin-left: 1rem;
    }
}