.cover__grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 213px 152px 66px 213px;
  max-width: 1184px;
  row-gap: 2rem;
  justify-items: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
.cover__grid{
  grid-template-rows: 17px 70px 48px 17px;
  row-gap: 1rem;
  max-width: 320px;
  max-height: 200px;
} 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
.cover__grid{
  grid-template-rows: 83px 152px 62px 83px;
  row-gap: 2rem;
  max-width: 768px;
}
 }

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .cover__grid{
    width: 1024px;
    grid-template-rows: 163px 152px 66px 163px;
    row-gap: 2rem;
    }
 }